<?xml version="1.0"?>

<launch>

	<include file="$(find airp1_foldy_base_apps)/launch/airp1_foldy_base_demo.launch" />	
	<!--include file="$(find airp1_sea_arm_apps)/launch/airp1_sea_arm_demo.launch" /-->

	<include file="$(find airp1_foldy_base_bringup)/launch/realsense_camera_base.launch" />

	<include file="$(find airp1_foldy_base_bringup)/launch/pointcloud_to_laserscan.launch" >
		<arg name="camera" value="rs_cam_base"/>
	</include>

	<include file="$(find airp1_foldy_base_bringup)/launch/amcl.launch" />

	<include file="$(find airp1_bringup)/launch/realsense_camera_tripod.launch" />
	<include file="$(find airp1_apps)/launch/ork_object_detection.launch" />

	<!--include file="$(find airp1_description)/launch/airp1_rviz.launch">
		<arg name="model" value="airp1"/>
	</include-->

	<include file="$(find airp1_moveit_config)/launch/demo.launch">
	</include>

</launch>
