<?xml version="1.0"?>
<!-- Robot Reference Platform for Prototyping - Dexterous Hand version 01 -->
<robot name="r2p" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants -->  
  
  <!-- Import the Foldy Base 01 -->
  <xacro:include filename="$(find r2p_foldy_base_description)/urdf/r2p_foldy_base.xacro" /> 
  
  <!-- Import the Right SEA Arm 01 -->
  <xacro:include filename="$(find r2p_sea_arm_description)/urdf/r2p_sea_arm_right.xacro" />  
      
  <!-- Import the Right Dex Hand 01 -->
  <xacro:include filename="$(find r2p_dex_hand_description)/urdf/r2p_dex_hand_right.xacro" />    
  
  <joint name="right_elbow_dex_hand_hook_fixed" type="fixed">
    <parent link="right_elbow_link"/>
    <child link="right_dex_hand_hook_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
  <!-- Import the Left SEA Arm 01 -->
  <xacro:include filename="$(find r2p_sea_arm_description)/urdf/r2p_sea_arm_left.xacro" />
  
  <!-- Import the Left Dex Hand 01 -->
  <xacro:include filename="$(find r2p_dex_hand_description)/urdf/r2p_dex_hand_left.xacro" />    
  
  <joint name="left_elbow_dex_hand_hook_fixed" type="fixed">
    <parent link="left_elbow_link"/>
    <child link="left_dex_hand_hook_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
  <!-- Link both arms on a tripod -->
  <!-- Tripod Link -->
  <link name="tripod_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	    <mesh filename="package://r2p_description/meshes/visual/tripod_link.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	    <mesh filename="package://r2p_description/meshes/collision/tripod_link_collision.stl"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
	  ixx="1.0" ixy="0.0" ixz="0.0"
	  iyy="1.0" iyz="0.0"
	  izz="1.0"/>
    </inertial>
  </link>
  
  <joint name="tripod_right_arm_fixed" type="fixed">
    <parent link="tripod_link"/>
    <child link="right_arm_link"/>
    <origin xyz="-0.0165 -0.09 1.18969" rpy="0 0 ${22*pi/180}"/>
  </joint>
  
  <joint name="tripod_left_arm_fixed" type="fixed">
    <parent link="tripod_link"/>
    <child link="left_arm_link"/>
    <origin xyz="-0.0165 0.09 1.18969" rpy="0 0 -${22*pi/180}"/>
  </joint>
  
  <!-- Fix the tripod on the base -->
  <joint name="base_tripod_fixed" type="fixed">
    <parent link="base_link"/>
    <child link="tripod_link"/>
    <origin xyz="0 0 0.13" rpy="0 0 0"/>
  </joint>

</robot>
