<?xml version="1.0"?>

<launch>

	<include file="$(find r2p_foldy_base_apps)/launch/r2p_foldy_base_demo.launch" />	
	<!--include file="$(find r2p_sea_arm_apps)/launch/r2p_sea_arm_demo.launch" /-->

	<include file="$(find r2p_foldy_base_bringup)/launch/realsense_camera_base.launch" />

	<include file="$(find r2p_foldy_base_bringup)/launch/pointcloud_to_laserscan.launch" >
		<arg name="camera" value="rs_cam_base"/>
	</include>

	<include file="$(find r2p_foldy_base_bringup)/launch/amcl.launch" />

	<include file="$(find r2p_bringup)/launch/realsense_camera_tripod.launch" />
	<include file="$(find r2p_apps)/launch/ork_object_detection.launch" />

	<!--include file="$(find r2p_description)/launch/r2p_rviz.launch">
		<arg name="model" value="r2p"/>
	</include-->

	<include file="$(find r2p_moveit_config)/launch/demo.launch">
	</include>

</launch>
