<?xml version="1.0"?>
<!-- Robot Reference Platform for Prototyping - Dexterous Hand version 01 -->
<robot name="airp1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants -->  
  
  <!-- Import the Foldy Base 01 -->
  <xacro:include filename="$(find airp1_foldy_base_description)/urdf/airp1_foldy_base.xacro" /> 
  
  <!-- Import the Right SEA Arm 01 -->
  <xacro:include filename="$(find airp1_sea_arm_description)/urdf/airp1_sea_arm_right.xacro" />  
      
  <!-- Link both arms on a tripod -->
  <xacro:include filename="$(find airp1_simple_hand_description)/urdf/airp1_simple_hand_right.xacro" /> 

  <!-- Tripod Link -->
  <link name="tripod_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	    <mesh filename="package://airp1_description/meshes/visual/tripod_link_80.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	    <mesh filename="package://airp1_description/meshes/collision/tripod_link_80_collision.stl"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
	  ixx="1.0" ixy="0.0" ixz="0.0"
	  iyy="1.0" iyz="0.0"
	  izz="1.0"/>
    </inertial>
  </link>
 
  <!-- Realsense Camera Tripod Link -->
  <link name="rs_cam_tripod_link">
    <visual>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
            <mesh filename="package://airp1_description/meshes/d435.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
            <mesh filename="package://airp1_description/meshes/d435.dae"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
          ixx="1.0" ixy="0.0" ixz="0.0"
          iyy="1.0" iyz="0.0"
          izz="1.0"/>
    </inertial>
  </link>
 
  <!-- Fix the realsense camera to the tripod -->
  <joint name="rs_cam_tripod_tripod_fixed" type="fixed">
    <parent link="tripod_link"/>
    <child link="rs_cam_tripod_link"/>
    <origin xyz="0.03 0 1.24" rpy="0 ${45*pi/180} 0"/>
  </joint>

  <!-- Fix the arm to the tripod -->
  <joint name="tripod_right_arm_fixed" type="fixed">
    <parent link="tripod_link"/>
    <child link="right_arm_link"/>
    <origin xyz="-0.0165 -0.09 0.8" rpy="0 0 ${22*pi/180}"/>
  </joint>

  <!-- Fix the simple hand to the arm -->
  <joint name="right_elbow_simple_hand_hook_fixed" type="fixed">
    <parent link="right_elbow_link"/>
    <child link="right_simple_hand_hook_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Fix the tripod on the base -->
  <joint name="base_tripod_fixed" type="fixed">
    <parent link="base_link"/>
    <child link="tripod_link"/>
    <origin xyz="0 0 0.15" rpy="0 0 0"/>
  </joint>

</robot>
